:root {
    --main-content-color: purple;
    --main-header-color: orange;
}

h1 {
    color: var(--main-header-color);
}

section h2 {
    background-color: yellow;
    color: var(--main-content-color);
    width: 50vw;
}

section > p {
    color: var(--main-content-color);
    font-size: 1.5rem;
    width: 50vw;
}

section > div {
    color: var(--main-content-color);
    font-size: 1.75rem;
    border: 1px solid black;
    padding: 10px;
    width: 50vw;
}

section > div > p {
    color: teal;
    background-image: linear-gradient(lightblue, pink);
    padding: 5px;
    width: 50vw;
}



