* {
    background-color: lightblue;
}

div {
    background-color: red;
}
/* 
.descendentOne {
    background-color: yellow;
}

#idExample {
    background-color: gray;
}

.descendentOne {
    background-color: orange;
} */

/* h1, div {
    background-color: blueviolet;
} */

div {
    background-color: darkblue;
}

div :nth-child(odd) {
    background-color: coral;
}

div > p:hover {
    background-color: darkblue;
    font-size: 5rem;
    cursor: pointer;
}




div {
    border-style: solid;
    margin: 10px;
    padding: 15px;
}

span {
    border-style: dotted;
    margin: 10px;
    padding: 10px;
}
